body
  padding: 40px
  background: url('/images/patterns/wild_oliva.png') repeat
  font-family: 'Yanone Kaffeesatz', sans-serif
  font-weight: 400

label, input, select, textarea, span, p, li, option
  font-size: 18px


.hero-unit
  padding: 25px 25px

  h1
    margin-bottom: 0.25em;

.canvas-container
  padding: 20px 20px
  border: 1px solid grey
  border-radius: 4px

  .graphing-panel
    height: 400px
    width: 100%
    background-color: #807C54 - 40%
    border-radius: 4px

  .graphing-controls
    font-size: 18px
    padding: 15px 15px
    margin-top: 25px
    border-radius: 4px
    background-color: #EEE