.info.alert
  p Use the function controls below to specify the function you'd like to render.
.canvas-container
  canvas.graphing-panel
  .graphing-controls
    form.form-horizontal
      .control-group
        label.control-label(for="function_type") Function type
        .controls
          include select_func_type


