select#function_type.choose
  optgroup(label="Polynomials")
    option(value="poly_2") Quadratic
    option(value="poly_3") Cubic
    option(value="poly_4") Quartic
    option(value="poly_5") Quintic
  optgroup(label="Transcendentals")
    option(value="exp") Exponential

